{% extends "users/base.html" %}
{% block title %} sandooqche {% endblock title%}
{% block content %}
    <div class="jumbotron">
        <header>
            <h1 class="display-4">صندوقچه</h1>
            <hr>
        </header>
        <div class="income-expense-container">
            <div>
                {% if expenses %}
                    <h3>هزینه‌های شما</h3>
                    <div class="expenses-container">
                        {% for expense in expenses %}
                            <div class="expense-item">
                                <h5>دلیل خرج: {{ expense.text }}</h4>
                                <h6>میزان خرج (به تومان): {{ expense.amount }}</h5>
                                <h6>تاریخ خرج: {{ expense.jalalitime }}</h5>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div>
                {% if incomes %}
                    <h3>درآمدهای شما</h3>
                    <div class="incomes-container">
                        {% for income in incomes %}
                            <div class="expense-item">
                                <h5>دلیل درآمد: {{ income.text }} </h4>
                                <h6>میزان درآمد (به تومان): {{ income.amount }}</h5>
                                <h6>تاریخ درآمد: {{ income.jalalitime }}</h5>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="btn1">
            <p class="lead">
                <hr>
                {% if user.is_authenticated %}
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button class="btn btn-primary btn-lg" type="submit">خروج</button>
                    </form>
                {% else %}
                    <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">ورود</a>
                {% endif %}
            </p>
        </div>
    </div>

{% endblock content %}